In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.graph_objects as go

import sqlalchemy as sa

import re

pd.options.display.float_format = '{:.2f}'.format

%config IPCompleter.greedy=True # Activa el autocompletar avanzado en Jupyter

from IPython.display import display, HTML, Image
display(HTML("""<style> th{ text-align: center !important; font-weight: bold !important; } td{ text-align: center !important; }</style>"""))

In [2]:
import src.cleaning as cln
import src.transformation as trs
import src.analysis as ana

df = pd.read_csv("data/originals/ecommerce.csv")

cln.analisis_columnas(df)
cln.analisis_valores(df)

- Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2095076 entries, 0 to 2095075
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   index          int64
 1   event_time     object
 2   event_type     object
 3   product_id     int64
 4   category_id    int64
 5   category_code  object
 6   brand          object
 7   price          float64
 8   user_id        int64
 9   user_session   object
dtypes: float64(1), int64(4), object(5)
memory usage: 159.8+ MB

- El DataFrame consta de: 2095076 filas y 10 columnas
- El índice del DataFrame es: RangeIndex(start=0, stop=2095076, step=1)
- El nombre de las columnas es: ['index', 'event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']

- Registros duplicados: 0

- Valores únicos por columna:
index            1731093
event_time       1670797
event_type             4
product_id         46038
category_id          508
category_code         11
brand                266
price               2624
user_id           163936
user_session      448679
dtype: int64

- Valores nulos por columna:
index                  0
event_time             0
event_type             0
product_id             0
category_id            0
category_code    2060411
brand             891646
price                  0
user_id                0
user_session         506
dtype: int64

In [3]:
cln.formateo_variables(df)

,fecha,evento,producto,categoria,precio,usuario,sesion
0,2019-10-01 00:01:46 UTC,view,5843665,1487580005092295511,9.44,462033176,a18e0999-61a1-4218-8f8f-61ec1d375361
1,2019-10-01 00:01:55 UTC,cart,5868461,1487580013069861041,3.57,514753614,e2fecb2d-22d0-df2c-c661-15da44b3ccf1
2,2019-10-01 00:02:50 UTC,view,5877456,1487580006300255120,122.22,527418424,86e77869-afbc-4dff-9aa2-6b7dd8c90770
3,2019-10-01 00:03:41 UTC,view,5649270,1487580013749338323,6.19,555448072,b5f72ceb-0730-44de-a932-d16db62390df
4,2019-10-01 00:03:44 UTC,view,18082,1487580005411062629,16.03,552006247,2d8f304b-de45-4e59-8f40-50c603843fe5
...,...,...,...,...,...,...,...
2095071,2020-02-29 23:58:49 UTC,cart,5815662,1487580006317032337,0.92,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
2095072,2020-02-29 23:58:57 UTC,view,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
2095073,2020-02-29 23:59:05 UTC,cart,5815665,1487580006317032337,0.59,147995998,5ff96629-3627-493e-a25b-5a871ec78c90
2095074,2020-02-29 23:59:28 UTC,view,5817692,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d
2095075,2020-02-29 23:59:54 UTC,view,5716351,1487580010872045658,0.79,619841242,18af673b-7fb9-4202-a66d-5c855bc0fd2d